:root{
    --background-color: #333;
    --white: #fff;
    --footer-backgroud: #222222;
    --footer-top: rgb(129, 129, 129);
    --black: #000;
    
  }
  * {
      font-family: Helvetica, sans-serif;
      margin: 0;
      padding: 0;
      background-color: var(--background-color);
      color: var(--color);
      overflow-x: hidden;
    }
    
    /* NAVBAR */

    #navbar {
      padding: 1.2em 2.4em ;
      margin-bottom: 1em;
      display: flex;
      justify-content:space-between;
      align-items: center;
      background-color: var(--footer-backgroud);
      color: #fff;
      border-bottom: 1px solid var(--footer-top);
    }

    #navbar{
      display: flex;
      width: 100%;
      flex-wrap: wrap;
    }

    #navbar ul {
      display: flex;
      list-style: none;
      flex-wrap: wrap;
      gap: 10px;
      background: none;
    }
    
    #navbar ul li {
      margin-left: 1em;
      background: none;
    }
    
    #navbar ul li a {
      text-decoration: none;
      color: #fff;
      transition: 0.5s;
      font-weight: bold;
      background: none;
    }
    
    #navbar ul li a:hover {
      color: #616161;
    
    }
        
    h1{
    color: white;
    }

    /* LOGIN E REGISTER */
    .auth-container {
      max-width: 450px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
    }
    

    .auth-container h2 {
      margin-bottom: 1em;
      color: #fff;
      border-left: 4px solid var(--white);
      padding: 0.3em;
      width: 100px;
    }
    
    .auth-container a {
      color: var(--white);
    }
    
    .form-control {
      display: flex;
      flex-direction: column;
      margin-bottom: 1em;
    }
    p{
      color:var(--white);
      margin-bottom: 115px;
      
    }
    .form-control label {
      font-weight: bold;
      margin-bottom: 0.5em;
      color: var(--white);
    }
    
    .form-control input,
    .form-control textarea {
      padding: 7px;
      border-radius: 3px;
      border: 1px solid var(--white);
    }
    
    form input[type='submit'],
    .btn {
      background-color: transparent;
      color: var(--white);
      border: 2px solid var(--white);
      padding: 0.5em 1.3em;
      margin-bottom: 1em;
      font-size: 1em;
      font-weight: bold;
      border-radius: 5px;
      cursor: pointer;
      text-decoration: none;
      transition: 0.5s;
    }
    
    form input[type='submit']:hover,
    .btn:hover {
      background-color: rgb(129, 127, 127);
      color: #fff;
    }

    /* MAIN */

    h1{
      padding: 5px;
    }

    #filmes{
      width: 900px;
      padding: 7px;
      overflow-y: hidden;
    }
    #filmes img{
      height: 240px;
      
    }
    #filmes img:hover{
      transform: scale(1.1);
    }

    /* ASIDE */

    #rank{
      display: flex;
      float: right;
      margin-bottom: 15px;
    }

    #rank li{
      background-color: var(--footer-backgroud);
      color: var(--white);
      font-size: 15px;
      padding: 5px 5px 3px 10px;
      margin-right: 35px;
      border: #000 1px solid;
    }
    #rank li a{
      text-decoration: none;
      background-color: transparent;
    }

    #rank li a:hover{
      color: orange;
    }

    h3{
      color: var(--white);
      background-color: var(--footer-backgroud);
      margin-right: 35px;
      padding: 5px 5px 3px 10px;
      border: #000 2px solid;
    }

    span{
      background-color: transparent;
    }
    /* FOOTER */
    footer {
      height: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-top: 1px solid var(--footer-top);
      background-color: var(--footer-backgroud);
      
    }
    
    footer span {
      font-weight: bold;
      color: var(--footer-top);
    }


    a{
      color: white;
    }

    #container-lista{
      align-items: center;
      text-align: center;
    }

    #container-lista ul{
      display: flex;
      justify-content: center;
      align-items: center;
    }