<form action="/wishlist">
<h2>Minha Lista de Desejos</h2>

<table>
  <thead>
    <tr>
      <th>Título</th>
      <th>Imagem</th>
    </tr>
  </thead>
  <tbody>
    {{#each wishlist}}
    <tr>
      <td>{{this.name}}</td>
      <td><img src="{{this.image}}" alt="{{this.name}}"></td>
    </tr>
    {{/each}}
  </tbody>
</table>
</form>
