<form action="/wishlist" method="post" id="container-lista">
<h1>Minha lista de desejos</h1>
  {{#if wishlist}}
    {{#each wishlist}}
  <ul>
    <img src="{{this.image}}" alt="">
    <input type="hidden" value="{{this.FilmId}}" name="idFilm">
    <input type="submit" value="Deletar">
  </ul>
    {{/each}}
    {{else}}
    <h3>Sua lista de desejos está vazia!</h3>
    {{/if}}
</form>